* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --------------------background */
.container-fluid{
    background-color: rgb(153, 102, 153);
    color: rgb(255, 255, 204);
    background-size: cover;
    height: auto;
}

.row{
    padding-top: 5.5rem;
    padding-bottom: 5rem;
}

/* -----------------------------header */
.header {
    background-image: url(./img/header.jpg);
    background-size: cover;
    background-position: relative;
    color: rgb(12, 11, 6);
    text-align: center;
    padding: 5rem;
    transition: background-color 0.5s ease;
}

.header h1 {
    font-weight: 500;
    font-size: 34px;
    font-family: 'Indie Flower', cursive;
    color: #e4eff7;
}

.header p {
    margin-top: 1rem;
    font-weight: 600;
    font-size: 1.5 rem;
    color: #e4eff7;
}

a:hover, a:visited, a:link, a:active{
    text-decoration: none;
    color: #f12004;
}

.main {
    background-color:  rgb(153, 102, 153);
}

/* --------------------------------input section */
.inputs {
    padding: 6rem 0 2rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
}

.inputs input[type="text"] {
    height: 3rem;
    width: 80%;
    background: #212121;
    font-weight: bold;
    font-size: 1.2rem;
    border: none;
    background-color: transparent;
    border-bottom: solid 1px #0b0c0c;
    color:black;
    border-radius: 2px;
    margin-bottom: 1rem;
    transition: all 0.5s ease;
}

.inputs input[type="submit"] {
    height: 3rem;
    width: 40%;
    background: #16a864;
    font-weight: bold;
    color: ghostwhite;
    font-size: 1.2rem;
    border: none;
    border-radius: 2px;
    transition: all 0.5s ease;
}

.inputs input[type="text"]:focus,
.inputs input[type="submit"]:focus {
    background-color: #16a864;
    color: #212121;
}

/* -------------------------------display */
.display {
    text-align: center;
    color: #0b0c0c;
}

.wrapper {
    margin: 0 auto;
    width: 80%;
    background-color:  rgb(153, 102, 153);
    height: 40vh;
    margin: 50px auto;
    border-radius: 2px;
}

.wrapper h2{
    padding: 5px 0;
}
